#mapid { 
    height: 600px;
}


.pad-header{
    padding-top: 1rem;
}
.main-maps{
    width:80px; 
}

@media only screen and (max-width: 600px) {
    .btn-primary {
        display: block;
        width: 100%;
    }
  }